<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyt.bmc208_assignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMC208_Assignment">
        <activity
            android:name=".ViewBatches"
            android:exported="true" />
        <activity
            android:name=".AvailableBatches"
            android:exported="true" />
        <activity
            android:name=".AstraRequest"
            android:exported="true" />
        <activity
            android:name=".SinovacRequest"
            android:exported="true" />
        <activity
            android:name=".PfizerRequest"
            android:exported="true" />
        <activity
            android:name=".batch_details"
            android:exported="true" />
        <activity
            android:name=".PatientSignupActivity"
            android:exported="true" />
        <activity
            android:name=".ViewVaccineBatch"
            android:exported="true" />
        <activity
            android:name=".RecordNewBatch"
            android:exported="true" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".PatientLoginActivity"
            android:exported="true" />
        <activity
            android:name=".AdminSignupActivity"
            android:exported="true" />
        <activity
            android:name=".RequestVaccination"
            android:exported="true"
            android:label="User Profile" /> <!-- to make log in page as main page -->
        <activity
            android:name=".indexMenu"
            android:exported="true"
            android:label="Log In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>